{% extends "base.html" %}
{% load static %}
{% load bootstrap5 %}

{% block content %}

        <!--================Home Banner Area =================-->
        <section class="home_banner_area">
            <div class="banner_inner">
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<div class="home_left_img">
								<img style="max-width: 80%; max-height: fit-content; border-radius: 0 50% 50%  50%" src="{{ profile.image.url }}" alt="">
							</div>
						</div>
						<div class="col-lg-6">
							<div class="banner_content">
								<h5>Bu Men</h5>
								<h2>{{ profile.full_name }}</h2>
                                <p>{{ profile.bio }}</p>
                                <ul class="list d-flex pb-2">
                                    {% for link in links %}
                                    <li class="pr-4"><a target="_blank" href="{{ link.url }}"><i class="{{ link.icon }}"></i></a></li>
                                    {% endfor %}
        					    </ul>
								<a class="banner_btn" href="{{ profile.link }}">Men Bilan Bog'lanish</a>
							</div>
						</div>
					</div>
				</div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->
        
        <!--================Welcome Area =================-->
        <section class="welcome_area p_120">
        	<div class="container">
        		<div class="row welcome_inner">
        			<div class="col-lg-6">
        				<div class="welcome_text">
        					<h4>Men Haqimda</h4>
        					<p> {{ about.body }} </p>
        					<div class="row">
        						<div class="col-md-4">
        							<div class="wel_item">
        								<i class="lnr lnr-database"></i>
        								<h4>{{ about.amount }}</h4>
        								<p>Oylik</p>
        							</div>
        						</div>
        						<div class="col-md-4">
        							<div class="wel_item">
        								<i class="lnr lnr-book"></i>
        								<h4>{{ about.project_count }}</h4>
        								<p>Hamma Proektlar</p>
        							</div>
        						</div>
        						<div class="col-md-4">
        							<div class="wel_item">
        								<i class="lnr lnr-users"></i>
        								<h4>{{ about.customer_count }}</h4>
        								<p>Hamma Haridorlar</p>
        							</div>
        						</div>
        					</div>
        				</div>
        			</div>
        			<div class="col-lg-6">
        				<div class="tools_expert">
        					<h3>Texnalogiyalar</h3>
        					<div class="skill_main">
                                {% for skill in skills %}
								<div class="skill_item">
									<h4>{{ skill.name }} <span class="counter">{{ skill.percentage }}</span>%</h4>
									<div class="progress">
										<div class="progress-bar" role="progressbar" aria-valuenow="{{ skill.percentage }}" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
								</div>
                                {% endfor %}
							</div>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Welcome Area =================-->
        
        <!--================Feature Area =================-->
        <section class="feature_area p_120">
        	<div class="container">
        		<div class="main_title">
        			<h2>Mijozlarga takliflarim</h2>
        			<p>Men tomonimdan sizlarga beriladigon hamma takliflarim, agar maqul kelsa men bilan bog'laning </p>
        		</div>
        		<div class="feature_inner row">
                    {% for offer in servies %}
        			<div class="col-lg-4 col-md-6">
        				<div class="feature_item">
        					<i class="{{ offer.icon }}", aria-hidden="true" ></i>
        					<h4>{{ offer.name }}</h4>
        					<p>{{ offer.discription }}</p>
        				</div>
        			</div>
                    {% endfor %}
        		</div>
        	</div>
        </section>
        <!--================End Feature Area =================-->
        
        <!--================Projects Area =================-->
        <section class="projects_area p_120">
        	<div class="container">
        		<div class="main_title">
					<h2>Men qilgan ishlar</h2>
					<p> Men yasagan sayt Telagram bot , ishlagan joylarim haqida va boshqa men qigan ishlarni shu yerda ko'rishingiz mumkin </p>
				</div>
        		<div class="projects_fillter">
					<ul class="filter list">
						<li class="active" data-filter="*"><a href="#">Hamma bo'limlar</a></li>
						
						{% for categorys in catigory %}
						<li data-filter=".{{ categorys.id }}"><a href="#">{{ categorys.name }}</a></li>
						{% endfor %}
					</ul>
				</div>
				<div class="projects_inner row">

					{% for portflio in project %}
					<div class="col-lg-4 col-sm-6 brand {{ portflio.Catigory_id.id }}">
						<div class="projects_item">
							<img class="img-fluid" src="{{ portflio.poster.url }}" alt="">
							<div class="projects_text">
								<a href="{% url 'project_detail' portflio.id  %}"><h4>{{ portflio.name }} {{ portflio.Catigory_id.id }}</h4></a>
								<p>{{ portflio.description }}</p>
							</div>
						</div>
					</div>
					{% endfor %}
					
				</div>
        	</div>
        </section>
        <!--================End Projects Area =================-->
        

        <!--================Latest Blog Area =================-->
        <section class="latest_blog_area p_120">
        	<div class="container">
        		<div class="main_title">
        			<h2> Mening shahsiy blogim </h2>
					<p> Bu sahifada meni ish jaryonlarim unutilmas voqealarimdan parchalar joylab boraman  </p>
        		</div>
        		<div class="row latest_blog_inner">
                    {% for blogs in blog %}
        			<div class="col-lg-4">
        				<div class="l_blog_item">
        					<div class="l_blog_img">
        						<img style="width: 360px; height: 300px" class="img-fluid" src="{{ blogs.poster.url }}" alt="">
        					</div>
        					<div class="l_blog_text">
        						<div class="date">
        							<a href="#">{{ blogs.punlished_at }}  |  By {{ blogs.author }} {{  blogs.view }}</a>
									<a href="#">View</a>
									<!-- <a href="#">{{ blog.author }}</a> -->
        						</div>
        						<a href="{% url 'blog'  blogs.id %}"><h4>{{ blogs.title }}</h4></a>
        						<p>{{ blogs.dicription|slice:100 }}</p>
        					</div>
        				</div>
        			</div>
					{% endfor %}
                             <!-- <h4 style="text-align: center">Hech nima topilmadi</h4> -->
                            
                            {% if blog.has_other_pages %}
                            <nav class="blog-pagination justify-content-center d-flex">
		                        <ul class="pagination">
                                    {% if blog.has_previous %}
		                            <li class="page-item">
		                                <a href="?page={{ blog.previous_page_number }}" class="page-link" aria-label="Previous">
		                                    <span aria-hidden="true">
		                                        <span class="lnr lnr-chevron-left"></span>
		                                    </span>
		                                </a>
		                            </li>
		                            <li class="page-item"><a href="?page={{ blog.previous_page_number }}" class="page-link">{{ blog.previous_page_number }}</a></li>
                                    {% endif %}
		                            <li style="background-color: #8490ff;" class="page-item"><a style="color:#fff;" href="?page={{ blog.number }}" class="page-link">{{ blog.number }}</a></li>
                                    {% if blog.has_next %}
		                            <li class="page-item"><a href="?page={{ blog.next_page_number }}" class="page-link">{{ blog.next_page_number }}</a></li>
		                            <li class="page-item">
		                                <a href="?page={{ blog.next_page_number }}" class="page-link" aria-label="Next">
		                                    <span aria-hidden="true">
		                                        <span class="lnr lnr-chevron-right"></span>
		                                    </span>
		                                </a>
		                            </li>
                                    {% endif %}
		                        </ul>
		                    </nav>
                            {% endif %}
        		</div>
        	</div>
        </section>
        <!--================End Latest Blog Area =================-->

<!-- Rest of your HTML content -->

	
{% endblock %}